;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Wed Apr 27 15:12:18 2011
;; Desktop file format version 206
;; Emacs version 23.1.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("solar"))
(setq regexp-search-ring nil)
(setq register-alist nil)

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/bsharon/clients/vc/google3/java/com/google/checkout/virtualcurrency/VirtualCurrencyMain.java"
  "VirtualCurrencyMain.java"
  'java-mode
  '(abbrev-mode global-whitespace-mode auto-complete-mode global-auto-revert-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bsharon/clients/vc/google3/checkout/virtualcurrency/definitions/account.proto"
  "account.proto"
  'fundamental-mode
  '(global-whitespace-mode global-auto-revert-mode)
  1168
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bsharon/dotfiles/.emacs"
  ".emacs"
  'emacs-lisp-mode
  '(global-whitespace-mode auto-complete-mode global-auto-revert-mode)
  1335
  '(1427 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

