[core]
	excludesfile = /home/bsharon/.gitignore
	pager = less -FXR -x4
[user]
	name = Brian Sharon
	email = bsharon@google.com
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	svn-diff = !git-svn-diff
	diffall = !git-diffall
[merge]
	tool = meld
	keepBackup = false
# 	tool = mergetool.rb
# 	log = true

[mergetool]
	prompt = false

[mergetool "mergetool.rb"]
	cmd = mergetool.rb $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
	alternate = opendiff
	keepTemporaries = false

# [merge]
# 	keepBackup = false;
# 	tool = kdiff3merge
# [mergetool "kdiff3merge"]
# 	cmd = kdiff3merge
# 	keepTemporaries = false
# 	trustExitCode = false
# 	keepBackup = false
# [diff]
# 	external = /home/bsharon/bin/p4diff
