[submodule "emacs/Fill-Column-Indicator"]
	path = emacs/Fill-Column-Indicator
	url = git://github.com/alpaker/Fill-Column-Indicator.git
[submodule "emacs/textmate"]
	path = emacs/textmate
	url = git://github.com/defunkt/textmate.el.git
[submodule "emacs/sass-mode"]
	path = emacs/sass-mode
	url = https://github.com/nex3/sass-mode.git
[submodule "emacs/coffee-mode"]
	path = emacs/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "emacs/use-package"]
	path = emacs/use-package
	url = git@github.com:jwiegley/use-package.git
