[core]
	excludesfile = ~/.gitignore
	pager = less -FXR -x4
[rerere]
    enabled = true
[help]
    autocorrect = 1
[user]
	name = Brian Sharon
	email = brian@floatplane.us
[branch]
	autosetuprebase = always
[color]
	diff = auto
	status = auto
	branch = auto
    interactive = auto
[alias]
	svn-diff = !git-svn-diff
	diffall = !git-diffall
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    st = status -sb
    stat = status -sb
    dt = difftool
    co = checkout
    ci = commit
    br = branch
    prm = pr merge
    prmerge = pr merge
    prdt = pr difftool
[merge]
# 	tool = meld
	tool = Kaleidoscope
	keepBackup = false
# 	tool = mergetool.rb
# 	log = true

[mergetool]
	prompt = false
	keepBackup = false

[mergetool "mergetool.rb"]
	cmd = mergetool.rb $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
	alternate = opendiff

# [merge]
# 	tool = kdiff3merge
# [mergetool "kdiff3merge"]
# 	cmd = kdiff3merge
# 	trustExitCode = false
# [diff]
# 	external = /home/bsharon/bin/p4diff
[push]
	default = simple
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
