*~
\#*#
*.log
.svn/
.DS_Store
.rsense
*.pyc
._.DS_Store
data/inventory/output
*.elc
.emacs.d/amx-items
.emacs.d/elpa
.emacs.d/ido.last
.emacs.d/network-security.data
.emacs.d/projectile-bookmarks.eld
.emacs.d/projectile.cache
.emacs.d/recentf
.emacs.d/smex-items
.emacs.d/tramp
