# Dump the UIKit view hierarchy
command regex rd 's/[[:space:]]*$/po [[[UIApplication sharedApplication] keyWindow] recursiveDescription]/' 's/.+$/po [%1 recursiveDescription]/'

# Try not to step into uninteresting library code. Needs some work.
settings set target.process.thread.step-avoid-regexp ^(std::(!function)|boost::shared_ptr)

# https://github.com/facebook/chisel
command script import /usr/local/opt/chisel/libexec/fblldb.py

# Load FiftyThree type summaries and command aliases
command script import /Users/brian/src/Paper/Utilities/xcode/lldb.py

# Avoid need to cast when trying to evaluate expressions like self.view.frame.bounds
# http://furbo.org/2015/05/11/an-import-ant-change-in-xcode
command alias uikit expr @import UIKit
command alias foundation expr @import Foundation

